.todo_container{
    position: relative;
width: 100%;
height: 100%;

background: #A805E1;
}


.main_input{
    box-sizing: border-box;

position: relative;

height: 100%;

background: #F5F5F5;

border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

.inputtask{
    font-family: 'Poppins', sans-serif;
}

.alert_box{
    box-sizing: border-box;

position: relative;

height: 70%;


background: #F5F5F5;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

.taskalerts{
font-family: 'Poppins', sans-serif;

position: relative;
left: 4%;
font-weight: 700;
top: -3%;
}

.boxtitle{
    top: 0%;
}
.list_style{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    padding-bottom: 10px;
    font-weight: 700;
}

.over_flow{
height: 110%;
width:125%;
overflow:auto;
}


.task_box{
    box-sizing: border-box;
 

    position: relative;
    
    height: 30%;
    background: #C06FDD;
    box-shadow: 0px 11.2676px 11.2676px rgba(0, 0, 0, 0.25);
    border-radius: 42.2535px;
    right: -4%;
    display: flex;
    justify-content: center;
    
}
.overflow_wrapper{
height: 80%;
width: 80;
overflow: hidden;

}

.box_title{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: -16%;
    left: 0%;
    color: #FFFFFF;
    font-weight: 800;
}
.progress_box{
    box-sizing: border-box;

position: relative;

height: 30%;
background: #C06FDD;
box-shadow: 0px 11.2676px 11.2676px rgba(0, 0, 0, 0.25);
border-radius: 42.2535px;

}
.complete_box{
    box-sizing: border-box;

position: relative;

height: 30%;
background: #C06FDD;
box-shadow: 0px 11.2676px 11.2676px rgba(0, 0, 0, 0.25);
border-radius: 42.2535px;
left: -4%;


}
.task{
    padding-left: 25%;

}
.alerticon{
    height: 10px;
    width: 5px;
    
}

.bton{
    height: 35px;
    width: 35px;
    right: 6px;
    bottom: 6px;
}

.title{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 73px;

color: #49175A;

}

textarea{
 height: 100%;
 width: 100%;
 resize: none;
 border-radius: 15px;
 padding: 10px;
 outline: none;
 border: none;
}
.inputtask{
    height: 100%;
    width: 100%;

}